<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ site.author.url }}">{{ site.title }}</a></h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}" targer="_self">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" href="https://oscar-oliveira.github.io/2D-Cutting-and-Packing/" target="_blank">2D Cutting and Packing</a>
    </nav>

    <a class="sidebar-mini-nav" href="{{ site.baseurl }}/index.html"><i class="fas fa-home"></i></a>
    <a class="sidebar-mini-nav" href="https://github.com/oscar-oliveira" target="_blank"><i class="fab fa-github-square"></i></a>
    <a class="sidebar-mini-nav" href="https://www.linkedin.com/in/oscaroliveira/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a class="sidebar-mini-nav" href="https://www.researchgate.net/profile/Oscar_Oliveira" target="_blank"><i class="fab fa-researchgate"></i></a>
    <a class="sidebar-mini-nav" href="https://www.mendeley.com/profiles/oscar-oliveira1/" target="_blank"><i class="ai ai-mendeley-square"></i></a>
    <a class="sidebar-mini-nav" href="https://orcid.org/0000-0003-3807-7292" target="_blank"><i class="ai ai-orcid-square"></i></a>
    <a class="sidebar-mini-nav" href="http://scholar.google.com/citations?user=ec7gVO4AAAAJ" target="_blank"><i class="ai ai-google-scholar-square"></i></a>
    <a class="sidebar-mini-nav" href="http://www.researcherid.com/rid/A-9526-2019" target="_blank"><i class="ai ai-publons-square"></i></a>

 </div>
</div>
